* {
  box-sizing: border-box;
}
body {
  margin: 50px 0 0 0;
  padding: 0 20px;
}

.wrapper {
  margin: 0 auto;
  max-width: 920px;
}

.btn {
  margin: 0 2em 1em 0;
  display: block;
  padding: 8px 16px;
  background-color: #3d82c7;
  border: none;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.1s linear;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2);
}

.btn:hover {
  cursor: pointer;
  background-color: #2b568d;
}

.hide {
  position: relative;
  display: none;
  padding-left: 24px;
  border: 0;
  background: none;
  cursor: pointer;
  outline: transparent;
}

.hide--active {
  display: block;
}

.hide::before {
  content: '\25BA';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.hide::after {
  content: '\25BC';
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

.hide--open::before {
  display: none;
}

.hide--open::after {
  display: block;
}

.instruction {
  margin-bottom: 4em;
  padding-left: 1.6em;
}

.upload {
  margin-bottom: 4em;
  padding-left: 1.6em;
}

.content {
  margin-bottom: 4em;
}

.content input[type=text] {
  margin: 0 1.5em 1em 0;
  padding: 0.75em 1.5em;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2);
}

.content input[type=checkbox] {
  margin: 0 1em 0.6em 0;
}

.content__controls {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 1.6em;
  margin-bottom: 2em;
}

.content__controls *:first-child {
  margin-right: 58px;
}

.content__controls *:nth-child(2) {
  margin-right: 160px;
}

.info {
  display: flex;
  justify-content: flex-start;
}

.img {
  display: flex;
  min-width: 150px;
  justify-content: center;
  align-items: baseline;
}

.img img {
  object-fit: contain;
}

.result {
  margin: 0 auto;
}

.settings {
  flex-grow: 1;
}

.settings__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.Result__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.Result button {
  margin-bottom: 1em;
}

.Result textarea {
  padding: 8px 16px;
  font-size: 14px;
}
