body {
  margin: 50px 0 0 0;
  padding: 0 20px;
}

.btn {
  margin-bottom: 1em;
  display: block;
  padding: 8px 16px;
  background-color: #eaeaea;
  border: none;
  border-radius: 4px;
  color: #000;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2);
}

.btn:hover {
  cursor: pointer;
}

.Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
  width: 100%
}

.Instruction {
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.Controls {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.Controls>div {
  margin-bottom: 1em;
}

.imgs {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
}

.imgs img {
  max-width: 400px;
  max-height: 200px;
  object-fit: contain;
}

.imgs--show {
  display: flex;
}

.setting {
  margin-bottom: 0.3em;
}

.Result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide {
  position: relative;
  display: none;
  padding-left: 24px;
  border: 0;
  background: none;
  cursor: pointer;
  outline: transparent;
}

.hide--active {
  display: block;
}

.hide::before {
  content: '\25BA';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.hide::after {
  content: '\25BC';
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

.hide--open::before {
  display: none;
}

.hide--open::after {
  display: block;
}

.content {
  margin-bottom: 4em;
}

.Result {
  flex-grow: 1;
}

.settings {
  flex-grow: 1;
}

.settings__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.Result__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.Result button {
  margin-bottom: 1em;
}

.Result textarea {
  padding: 8px 16px;
  font-size: 14px;
}
